.idea/
_build/
.ipynb_checkpoints
.DS_Store
__pycache__
Grading/Final_Projects/Repos/Sect_1/asub-sandwich/cmse202-f22-lakesideview/
Grading/Final_Projects/Repos/Sect_1/krithi100/final_project_202_f22/
Grading/Final_Projects/Repos/Sect_1/makibrte/cmse-final-project/
Grading/Final_Projects/Repos/Sect_1/nwobimar/cmse_project/
Grading/Final_Projects/Repos/Sect_1/RandumbPurson/CMSE-202-Dream-Project/
Grading/Final_Projects/Repos/Sect_1/sdork/CMSE202Project/
Grading/Final_Projects/Repos/Sect_1/soesit/CMSE202_Project/
Grading/Final_Projects/Repos/Sect_1/tangisab/Lemon/
Grading/Final_Projects/Repos/Sect_1/zoezhang1202/cmse202-final-project/
Grading/Final_Projects/Repos/Sect_2/ayaanmayooq/cmse202-project/
Grading/Final_Projects/Repos/Sect_2/epleyjos/CMSE202Project1/
Grading/Final_Projects/Repos/Sect_2/iacovon3/CMSE202_FinalProject/
Grading/Final_Projects/Repos/Sect_2/pershani/CMSE202-GroupProject/
Grading/Final_Projects/Repos/Sect_2/roysubh1/CMSE-202-Final-Project---Celestial-Modeling-Group/
Grading/Final_Projects/Repos/Sect_2/RyanMaciejewski/Project/
Grading/Final_Projects/Repos/Sect_2/walkingipad/202-final-project/
Grading/Final_Projects/Repos/Sect_2/whitlo30/t_compvis_repo/
Grading/Midterm/Section_2/Github/cmse202-f22-turnin/
daily/Day-03/Day-03_Pre-Class_PythonReview+GitIntro-INSTRUCTOR-Copy1.ipynb
daily/Day-03/Day-03_Pre-Class_PythonReview+GitIntro-AMA.ipynb
